* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(37, 37, 37);
    display: flex;
    padding: 20px 60px;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


header h1 {
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 1.7em;
}

header li {
    display: inline-block;

    list-style: none;
    padding: 0 50px;
}

header a {
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    transition: all 0.4s ease 0s;
}

header a:hover {
    color: rgb(247, 54, 144);
    font-size: 1.8em;
}




.box {
    background-color: rgb(5, 255, 130);
    border-radius: 4px;
    margin: 15px;
    padding: 20px;
}






.search-container {
    display: inline-flex;
    flex: 1 1 300px;
    border-radius: 10px;
    border: 2px solid rgb(201, 199, 199);
    overflow: hidden;
}

.icon {
    padding: 1vh;
}

.search-box {
    border: none;
    flex: 40px;
}


.search-button {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 0, 255);
    border: none;
    padding-left: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}