@font-face{
    font-family: 'blend';
    src: url(Fonts/Blending-rgjzK.otf); 
 }
 body{
     background-image:url(images/Gym_website_bg.jpg);
     height: auto;
     background-position: center;
     background-size: cover;
     
 }
 #sign_in{
     background-color: rgb(101, 0, 160);
 }
 .container{
     font-family:'blend';
     font-size: 19px;
    
 }
 .box h1{
     font-family: 'Courier New', Courier, monospace;
     color: rgb(219, 180, 255);
     padding-bottom: 45px;
   
 }
 form label{
     color: rgb(238, 220, 245);
 }
 form .form-text{
 color: rgb(177, 176, 176);
 font-size: small;
 }
 footer{
    color: rgb(164, 165, 167);
 }
 